<!--<head>
<link  rel="stylesheet"  type="text/css" href="/css/style.css">
<script src="/javascirpt/working.js"></script>
</head>
<body>-->
<link  rel="stylesheet"  type="text/css" href="/css/style.css">
<div class="navbar" style="display:inline-block;">
    <img  class="logo" src="/images/logo3.png">
    <h2 style="display:inline-block ;" class="name">FoodPoint</h2>
    <div style="display:inline-block ;" class="Sbuttons">
        <button class="Hbuttons" id="myButton" onclick="Signin_redirect();">SignIn</button>
        <!--<script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href="http://127.0.0.1:5500/templates/SignIn.html";
            };
        </script>-->
        <button class="Hbuttons" onclick="Contact_redirect()">Contact Us</button>

    </div>
    <hr style="margin-top: -5px; width:1515px">
</div>
<script src="/javascirpt/working.js"></script>
</body>